annotated-types==0.7.0
anyio
certifi==2025.8.3
charset-normalizer==3.4.3
click==8.1.8
exceptiongroup==1.3.0
fastapi==0.117.1
h11==0.16.0
idna==3.10
proxmoxer==2.2.0
pydantic
pydantic_core
python-dotenv
requests
sniffio
starlett
typing-inspection
typing_extensions
urllib3
uvicorn
gunicorn
